
*{
	margin: 0;
	padding: 0;
}

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0bd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
.loaded {
  opacity: 0;
  visibility: hidden;
} 


#anime{
	width: 100vw;
  height: 100vh;
	position: fixed;
	border:2px solid black;
	background: #fff;
	transition: all 1s;
      	opacity: 1;
	z-index: 9999;
	top: 0;
  left: 0;
}
.animed{
	display: none;
	opacity: 0!important;
}

#lottie{
	width:100%;
	max-width:960px;
	position: absolute;
	bottom:0;
	left:0;
	border:1px solid red;
}
#lottie2{
    width: 100%;
    max-width: 1184px;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 1px solid pink;
/* 	z-index: 9998; */
}
#lottie1{
	width:100%;
	max-width:1224px;
	height: auto;
	position: fixed;
	top:0;
	border:1px solid red;
}
#lottie3{
    width: 100%;
    max-width: 1204px;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid pink;
/* 		z-index: 9999; */
}

/* header{
	width:300px;
	background:#fff;
	position:fixed;
	top:0;
	left:0;
	height: 100vh;
}
 */



/* wrap */
.hero {
  position: relative;
}

/* video */
.video-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.img1 {
  position: fixed;
  bottom: 0;
  right: 5%;
  z-index: -1;
  width: 500px;
}
.img2 {
  position: fixed;
  width:200px;
  bottom: 20%;
  left: 25%;
  z-index: -1;
}

/* overlay */
.overlay::after {
/*  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";*/
  /*background: rgba(0, 0, 0, 0.4);*/
}

/* text */
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h1 {
  writing-mode: vertical-rl;
  color: #fff;
  font-family: "A1 Mincho", YuMincho, serif;
  font-size: 3.5rem;
  text-shadow: -5px 5px 3px #707070;
  height: 100vh;
/*   text-align: center; */
	align-items: center;
  margin: 0 auto;
}
.box1{
	width:95%;
	height:80vh;
	margin:0 auto;
	background: rgba(255,255,255,0.9)
}
.box2{
	height:35vh;
}
